/* app.component.css */
.user-info {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    margin: 0; /* Remove margin to ensure it's at the very bottom */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other content */
}

  .user-type {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .user-type.admin {
    color: green;
  }
  
  .user-type.user {
    color: orange;
  }
  
  .user-type.guest {
    color: gray;
  }
  